/* common property */

h1 {
    line-height: 64px;
    font-size: 4rem;
}

h2:not(.hero-section h2) {
    font-size: 48px;
}

/* hero section */

.hero-section {
    background-color: #f2f0f1;
}

.hero-section button {
    font-size: 22px;
}

.hero-section h2 {
    font-size: 40px;
    font-family: 'Satoshi', 'sans-serif';
}

.hero-section .vector-big {
    top: 11%;
}

.hero-section .vector-small,
.hero-section .vector-big {
    animation: vector-zoom .8s ease infinite alternate;
}

@keyframes vector-zoom {
    100% {
        transform: scale(0.9);
    }

    0% {
        transform: scale(1.1);
    }
}

/* product card css */

.cart-icon {
    position: absolute;
    top: 10%;
    right: 0;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: all 0.3s ease;
    background-color: #f8b1b8;
    padding: 10px;
    border-radius: 50%;
    z-index: 2;
}

.product-card:hover .cart-icon {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.product-card .cart-icon:hover {
    cursor: pointer;
}

/* browse section */

.browse-section img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.browse-section img:hover {
    cursor: pointer;
    transform: scale(1.05);
}