@import url('./font.css');

/* common css */

:root {
    /* #23A6F0  */
    --bs-primary-rgb: 35, 165, 240;
    /* #252B42 */
    --bs-info-rgb: 37, 43, 66;
    /* #8EC2F2  */
    --bg-skyblue: 142, 194, 242;
    /* #F3CD03 */
    --bs-warning-rgb: 243, 205, 3;
    /* #737373 */
    --bs-secondary-rgb: 115, 115, 115;
    /* #2DC071 */
    --bs-success-rgb: 45, 192, 113;
    /* #BDBDBD */
    --bg-muted: 189, 189, 189;
    /* #E77C40  */
    --bs-danger-rgb: 231, 124, 64;
    /* #FAFAFA */
    --bg-custom-white: 250, 250, 250;
}

body {
    font-family: 'Montserrat', 'sans-serif';
}

h5,
p,
a,
.btn {
    font-size: 0.875rem !important;
}

h2,
h3,
h4,
.small-heading,
.btn {
    font-weight: bold !important;
}

h1,
h2,
h5 p,
a,
.btn {
    letter-spacing: 0.2px !important;
}

.small-heading,
h3,
h4 {
    letter-spacing: 0.1px !important;
}

h1 {
    font-size: 3.625rem !important;
    font-weight: 800 !important;
    line-height: 80px !important;
}

h2 {
    font-size: 2.5rem !important;
    line-height: 57px !important;
}

h3 {
    font-size: 1.5rem !important;
    line-height: 32px !important;
}

h4,
.small-heading {
    font-size: 1rem !important;
    line-height: 24px !important;
}

h5 {
    line-height: 24px !important;
    font-weight: 600 !important;
}

p {
    font-weight: 500 !important;
    line-height: 20px !important;
}

a {
    text-decoration: none;
    color: #ffffff;
    line-height: 24px !important;
    font-weight: 600 !important;
}

.p-lg {
    font-size: 1.25rem !important;
    line-height: 30px !important;
}

.text-disabled {
    color: rgb(var(--bg-skyblue)) !important;
}

.bg-muted {
    background-color: rgb(var(--bg-muted));
}

.btn {
    line-height: 22px !important;
    padding: 15px 36px;
}

section {
    padding: 112px 0;
}

/* header css */
.navbar {
    height: 91px;
    margin-bottom: -91px;
}

/* hero section */
.hero-section {
    padding-top: 203px;
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url('../assets/images/hero-cover.png');
    background-size: cover;
}

/* feature section */
.feature-section {
    padding: 96px 0;
}

.feature-section i {
    font-size: 60px;
}

/* card section */
.card-section {
    background-color: rgb(var(--bg-skyblue));
}

.card-section .review-box {
    padding: 30px 40px;
    position: relative;
}

.card-section .review-avatar {
    position: absolute;
    left: -47px;
    /* right: calc(100% - 25px); */
}

/* project section */
.project-cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: auto;
}

.project-card {
    position: relative;
    height: 452px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    padding: 10px 20px;
}

.project-card::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(56, 56, 56, 0.84));
    z-index: 1;
}

.project-card img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-content {
    position: relative;
    z-index: 2;
}

/* pricing section */
.pricing-card {
    padding: 50px 40px;
    position: relative;
}

.new-plan {
    position: absolute;
    height: 90px;
    width: 90px;
    right: 16.5px;
    top: -26px;
}

.pricing-features i {
    border-radius: 50%;
    height: 32px;
    width: 32px;
    text-align: center;
    font-size: 20px;
    flex-shrink: 0;
}

/* contact section */
.contact-section {
    padding: 50px 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url('../assets/images/contact-cover.png');
    background-size: cover;
}

.form-control {
    color: #737373;
    background-color: #F9F9F9;
    font-size: 14px;
    height: 50px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.custom-select-icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    pointer-events: none;
}

textarea {
    height: 140px !important;
}

/* footer */
.bg-custom-white {
    background-color: rgb(var(--bg-custom-white));
}

footer .bg-info h2 {
    margin-bottom: 20px;
}

footer .bg-info p {
    margin-bottom: 10px;
}


@media (min-width:1200px) {
    .container {
        max-width: 1050px;
    }
}

@media (max-width:768px) {
    header {
        margin-bottom: 91px;
    }

    header,
    header .container-fluid {
        background-color: #252B42;
    }

    header a {
        font-size: 30px !important;
        line-height: 45px !important;
        font-weight: normal !important;
    }

    .hero-section {
        padding-top: 112px;
    }

    h1 {
        font-size: 40px !important;
        line-height: 57px !important;
    }
}